* {
    box-sizing: border-box;
}

body {
    /*    background-color: #E2E6D6;*/
    background-color: white;
}

#tilbage a {
    color: #747160;
}

h1 {
    font-family: 'Nanum Myeongjo', serif;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

#link a {
    padding-left: 50px;
    padding-bottom: 30px;
    font-family: 'Nanum Myeongjo', serif;
    color: #747160;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

/*---LINK---*/

.container1 {
    position: relative;
    padding-left: 50px;
    padding-right: 25px;
    width: 300px;
    margin-top: -20px;
}

.container2 {
    position: relative;
    padding-left: 50px;
    padding-right: 25px;
    width: 300px;
    margin-top: -24px;
}

.text {
    background-color: #747160;
    color: white;
    font-size: 16px;
    padding: 10px 56px;
    font-family: 'Nanum Myeongjo', serif;
}

/*---4 BLLEDER---*/

.section_wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.container3 img {
    position: relative;
    padding-bottom: 10px;
}

.container4 img {
    position: relative;
    padding-bottom: 10px;
}

.container5 img {
    position: relative;
    height: 100%;
    width: 300px;
    padding-bottom: 10px;
}

/*---MEDIA QURIES---*/

@media (min-width:750px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:850px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
