* {
    box-sizing: border-box;
}

body {
    /*    background-color: #E2E6D6;*/
    background-color: white;
}

#tilbage a {
    color: #747160;
}

#first img {
    width: 400px;
    height: 100%;
    padding-left: 50px;
}

h1 {
    font-family: 'Nanum Myeongjo', serif;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

#link a {
    padding-left: 50px;
    padding-bottom: 30px;
    font-family: 'Nanum Myeongjo', serif;
    color: #747160;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}
