* {
    box-sizing: border-box;
}

body {
    background-color: #E2E6D6;
}

#tilbage a {
    color: #747160;
}

.video {
    height: 100%;
    width: 550px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font-family: 'Nanum Myeongjo', serif;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

/*----prøve----*/

.section_wrapper {
    padding-left: 25px;
    padding-right: 25px;
}

.container4 {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container4 .middle4 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container4:hover .image {
    opacity: 0.3;
}

.container4:hover .middle4 {
    opacity: 1;
}

.text {
    background-color: #747160;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Nanum Myeongjo', serif;
}
