* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

#tilbage a {
    color: #747160;
}

.video video {
    height: 100%;
    width: 530px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font-family: 'Nanum Myeongjo', serif;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}


/*---LINK TIL REDESIGN---*/

.container0 {
    position: relative;
    padding-left: 50px;
    padding-right: 25px;
    width: 300px;
}

.container1 {
    position: relative;
    padding-left: 50px;
    padding-right: 25px;
    width: 300px;
    margin-bottom: -19px;
    margin-top: -15px;
}

.text {
    background-color: #747160;
    color: white;
    font-size: 16px;
    padding: 10px 56px;
    font-family: 'Nanum Myeongjo', serif;
}

/*---4 BILLEDER---*/

.section_wrapper {
    padding-left: 50px;
    padding-right: 50px;
}

.container2 img {
    position: relative;
}

.container3 img {
    position: relative;
}

.container4 img {
    position: relative;
}

.container5 img {
    position: relative;
}


/*---MEDIA QURIES---*/

@media (min-width:600px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        width: 50px;
        height: 50px;
    }

    .video video {
        height: 100%;
        width: 620px;
        position: relative;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width:800px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
        width: 50px;
        height: 50px;
    }

    .video video {
        height: 100%;
        width: 680px;
        position: relative;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width:1000px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 48px;
        width: 50px;
        height: 50px;
    }

    .video video {
        height: 100%;
        width: 730px;
        position: relative;
        padding-left: 50px;
        padding-right: 50px;
    }
}
