header {
    background-color: #747160;
    padding: 15px;
    margin: auto;
}

nav {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: 'Nanum Myeongjo', serif;


}

/*---MOUSE OVER LINK---*/
a:hover {
    text-decoration: underline;
}
