body {
    margin: 0;
    padding: 0;
}


header {
    background-color: #747160;
    padding: 15px;
    margin: auto;
}

nav {
    text-align: right;
    font-family: 'Nanum Myeongjo', serif;
    margin-top: -35px;
    padding-bottom: 20px;
    padding-right: 15px;
}

a {
    padding-left: 20px;
    padding-right: 20px;
}

header img {
    object-fit: cover;
    width: 76px;
    padding-top: 10px;
}


h1 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: 0.85rem;
}

/*---MOUSE OVER LINK---*/

a:link {
    color: white;
    text-decoration: none;

}

/* unvisited link */
a:hover {
    text-decoration: underline;
}


/* visited link */
a:visited {
    color: white;
}

/* selected link */
a:active {
    color: #E2E6D6;
}


/*---MEDIA QUERIES---*/

@media (min-width: 750px) {
    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.15rem;
    }

    p {
        font-size: 0.93rem;
    }

    a {
        font-size: 1.15rem;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.20rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 1.32rem;
    }
}
