body {
    background-color: #E2E6D6;
}

/*---OVERORDNET FOR ALLE SECTION_WRAPPER---*/
.section_wrapper {
    display: block;
    grid-gap: 10px;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.section_wrapper:hover .middle {
    opacity: 1;
}

/*---EMNE 1---*/

.section_wrapper:hover .emne1 {
    opacity: 0.3;
}

.text1 {
    background-color: #747160;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Nanum Myeongjo', serif;
}

/*---EMNE 2---*/
.section_wrapper:hover .emne2 {
    opacity: 0.3;
}

.text2 {
    background-color: #747160;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Nanum Myeongjo', serif;
}

/*---EMNE 3---*/
.section_wrapper:hover .emne3 {
    opacity: 0.3;
}

.text3 {
    background-color: #747160;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Nanum Myeongjo', serif;
}

/*---EMNE 4---*/
.section_wrapper:hover .emne4 {
    opacity: 0.3;
}

.text4 {
    background-color: #747160;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Nanum Myeongjo', serif;
}



/*---MEDIA QUERIES---*/
@media (min-width: 750px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 100vw;
    }

    .section_wrapper .emne1 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        max-width: none;
        position: relative;
        grid-column: 1/1;
    }

    .section_wrapper .emne2 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        grid-column: 2/2;

    }

    .section_wrapper .emne3 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        grid-column: 2/1;

    }

    .section_wrapper .emne4 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        grid-column: 2/2;

    }

}

@media (min-width: 550px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 100vw;
    }

    .section_wrapper .emne1 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        max-width: none;
        position: relative;
        grid-column: 1/1;
    }

    .section_wrapper .emne2 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        grid-column: 2/2;

    }

    .section_wrapper .emne3 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        grid-column: 2/1;

    }

    .section_wrapper .emne4 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        grid-column: 2/2;

    }

}

@media (min-width: 1280px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        width: 60vw;
    }

    .section_wrapper .emne1 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        max-width: none;
        position: relative;
        grid-column: 1/1;
    }

    .section_wrapper .emne2 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        grid-column: 2/2;

    }

    .section_wrapper .emne3 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        grid-column: 2/1;

    }

    .section_wrapper .emne4 {
        background-size: cover;
        background-position: 100%;
        width: 100%;
        grid-column: 2/2;

    }

}
