* {
    box-sizing: border-box;
}

body {
    background-color: #E2E6D6;
}

/*----TEXT TYPES---*/
h1 {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
}

h3 {
    font-family: 'Nanum Myeongjo', serif;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
}
