* {
    box-sizing: border-box;
}

body {
    background-color: #E2E6D6;
}

/*----TEXT TYPES---*/
h1 {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
}

h3 {
    font-family: 'Nanum Myeongjo', serif;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
}


.section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*---MEDIA QUERIES---*/
/*
@media (min-width: 800px) {
    #col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
*/
