* {
    box-sizing: border-box;
}

body {
    /*    background-color: #E2E6D6;*/
    background-color: white;
}

#tilbage a {
    color: #747160;
}

main img {
    display: grid;
    width: 320px;
    height: 100%;
    padding-left: 47px;
}

.section_wrapper {
    padding-left: 0px;
    margin: 10px;
}

h1 {
    font-family: 'Nanum Myeongjo', serif;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

ul {
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 68px;
    padding-right: 112px;
}

/*---LINK---*/

.container3 {
    position: relative;
    padding-left: 50px;
    padding-right: 25px;
    width: 300px;
}

.text {
    background-color: #747160;
    color: white;
    font-size: 16px;
    padding: 10px 35px;
    font-family: 'Nanum Myeongjo', serif;
}

/*---MEDIA QURIES---*/

@media (min-width:600px) {
    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:750px) {
    .section_wrapper {
        padding-left: 0px;
    }
}

@media (min-width:1200px) {
    .section_wrapper {
        padding-left: 0px;
    }
}
