* {
    box-sizing: border-box;
}

body {
    background-color: #E2E6D6;
}

#tilbage a {
    color: #747160;
}

h1 {
    font-family: 'Nanum Myeongjo', serif;
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    font-family: 'Nanum Myeongjo', serif;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

#first img {
    width: 400px;
    height: 100%;
    padding-left: 50px;
}
